.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  @extend %flex;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  color: $white-color;
  background-color: $accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__button {
  @extend %margin-rl-auto;
  padding: 10px 32px;
}

.form__button {
  margin-top: 30px;
  @extend %margin-rl-auto;
  padding: 10px 55px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill $duration $cubic-bezier;

  &:hover {
    fill: $accent;
  }
}
