.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation__list {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}

.header-contact-list {
  @media screen and (max-width: $mobile-max) {
    display: none;
  }
}
