.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header-contact-list {
  margin-left: auto;

  @media screen and (max-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    text-align: center;
  }
}

.header__logo {
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.header-contact-list__item + .header-contact-list__item {
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}

.header-contact-list__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color $duration $cubic-bezier;

  color: $text-color;

  &:hover,
  &:focus {
    color: $accent;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact-list__icon {
  fill: currentColor;

  transition: fill $duration $cubic-bezier;

  @media screen and (min-width: $tablet) {
    margin-right: 8px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 10px;
  }
}
