.our-work {
  padding-top: 0;
}

.our-work__list {
  display: flex;
  margin: -15px;
}

.our-work__item {
  position: relative;
  margin: 15px;
}

.our-work__box {
  position: absolute;
  bottom: 0;
  @extend %flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.our-work__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}
