.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $duration $cubic-bezier;

  &:hover,
  &:focus {
    background-color: $accent;
  }
}

.social-link__icon {
  fill: $icon-color;
  transition: fill $duration $cubic-bezier;

  .social-link:hover &,
  .social-link:focus & {
    fill: $white-color;
  }
}

.our-team__social-links {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
