$text-color: #757575;
$accent: #2196f3;
$heading-color: #212121;
$white-color: #ffffff;
$black-color: #000000;
$background-dark: #2f303a;
$background-grey: #f5f4fa;
$icon-color: #afb1b8;
$duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: "Roboto", sans-serif;
